.about_body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    padding: 8rem 2rem 2rem;
}

.cover_about {
    border-style: solid;
    background: url(../../images/rope1.jpg) no-repeat center center;
    border-color: #4FB477;
    box-shadow: 3px 3px #333333, -1em 0 .4em #4FB477;
    border-radius: 5rem;
    object-fit: cover;
    width: 80vw;
    height: 40vw;
}

.about_wrap {
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.text_background {
    background-color: #333333;
    opacity: 80%;
    box-shadow: 3px 3px #333333, -1em 0 .4em #4FB477;
}
.cover_text {
    opacity: 100%;
    display: flex;
    font-size: 32px;
    color: #ffffff;
    margin-top: calc(40vw - 6vw);
    margin-left: calc(80vw - 78vw);
}

.name_card_wrap {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name_card {
    align-items: center;
    width: 80vw;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

.about_image {
    border-color: #0b0f08;
    border-radius: 5rem;
    object-fit: cover;
    width: 80vw;
    height: 40vw;
 }

.activities_locations {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.activity_title {
    padding: 2rem 2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
}

.activity_title h2{
    color: #333333;
}

.locations_list {
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-top-style: solid;
    border-color: white;
    display: flex;
    color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: linear-gradient(290deg, rgba(79,180,119,0), rgba(79,180,119,1));
    flex-direction: column;
}

.locations_list ul {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    background: linear-gradient(90deg, rgba(55,125,83,0), rgba(55,125,83,1));
}

.locations_list li {
    display: flex;
    padding: 1rem;
    align-items: center;
}