@import url(https://fonts.googleapis.com/css?family=Montserrat);

 .text_body{
    height: 100%;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /*   border:1px solid red; */
    height: 100%;
    align-items: center;
}

.svg_text {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #2e4b23;
    animation-delay: -1s;
}

.text-copy:nth-child(2){
    stroke: #87ff00;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #233b08;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #12d267;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #92d212;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}